.container {
  display: flex !important;
  flex-wrap: wrap !important;
}

li {
  list-style-type: none !important;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 5% !important;
}

.card {
}

.card img {
  object-fit: contain !important;
}

.elseBlock {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  margin: auto !important;
}

h6 {
  text-align: center !important;
  font-size: 1.5rem !important;
  margin: 1em !important;
}
